<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Tư vấn chọn quà</title>
    <link rel="stylesheet" th:href="@{/css/nht-style.css}">
</head>
<body>

<th:block th:replace="layout/NhtHeader :: nht_header"></th:block>

<section class="nht-service">
    <h2>💖 Tư vấn chọn quà</h2>

    <ul>
        <li>Tặng người yêu</li>
        <li>Tặng sinh nhật</li>
        <li>Tặng trẻ em</li>
        <li>Tặng dịp đặc biệt</li>
    </ul>
</section>

<th:block th:replace="layout/NhtFooter :: nht_footer"></th:block>

</body>
</html>
