<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Quà tặng doanh nghiệp</title>
    <link rel="stylesheet" th:href="@{/css/nht-style.css}">
</head>
<body>

<th:block th:replace="layout/NhtHeader :: nht_header"></th:block>

<section class="nht-service">
    <h2>🏢 Quà tặng doanh nghiệp</h2>

    <ul>
        <li>Gấu bông in logo</li>
        <li>Nhận đơn số lượng lớn</li>
        <li>Báo giá theo yêu cầu</li>
    </ul>
</section>

<th:block th:replace="layout/NhtFooter :: nht_footer"></th:block>

</body>
</html>
