<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Vệ sinh gấu bông</title>
    <link rel="stylesheet" th:href="@{/css/nht-style.css}">
</head>
<body>

<th:block th:replace="layout/NhtHeader :: nht_header"></th:block>

<section class="nht-service">
    <h2>🧼 Vệ sinh & bảo dưỡng gấu bông</h2>

    <ul>
        <li>Làm sạch như mới</li>
        <li>Khử khuẩn – khử mùi</li>
        <li>Sửa chữa nhỏ: rách, bung chỉ</li>
    </ul>
</section>

<th:block th:replace="layout/NhtFooter :: nht_footer"></th:block>

</body>
</html>
