<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Combo quà tặng</title>
    <link rel="stylesheet" th:href="@{/css/nht-style.css}">
</head>
<body>

<th:block th:replace="layout/NhtHeader :: nht_header"></th:block>

<section class="nht-service">
    <h2>🎁 Combo quà tặng tiết kiệm</h2>

    <ul>
        <li>Gấu + thiệp</li>
        <li>Gấu + hoa</li>
        <li>Gấu + blindbox</li>
    </ul>
</section>

<th:block th:replace="layout/NhtFooter :: nht_footer"></th:block>

</body>
</html>
