<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Giao hàng nhanh</title>
    <link rel="stylesheet" th:href="@{/css/nht-style.css}">
</head>
<body>

<th:block th:replace="layout/NhtHeader :: nht_header"></th:block>

<section class="nht-service">
    <h2>🚚 Giao hàng nhanh – Quà bất ngờ</h2>

    <ul>
        <li>Giao trong ngày (nội thành)</li>
        <li>Giao hẹn giờ theo yêu cầu</li>
        <li>Giao giấu tên – bất ngờ tuyệt đối</li>
    </ul>
</section>

<th:block th:replace="layout/NhtFooter :: nht_footer"></th:block>

</body>
</html>
